body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #fafafa;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  min-width: 200px;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.product-img img {
  max-width: 45%;
  height: auto;
}

.product-title {
  font-size: 16px;
  text-align: left;
}
.product-price {
  font-size: 14px;
  text-align: left;
}

.btn-add-to-cart {
  cursor: pointer;
}

